<h1>Translator</h1> &nbsp; <span class="notice-breakline">Admin login</span>

<form class="simple" method="post" action="./">
    <input id="password" type="password" name="password" class="box"/>
    <input type="submit" value="Login" class="submit" />
</form>

<script>
    setTimeout(function() {
        document.getElementById('password').focus(); 
    }, 10);
</script>
